*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    background: rgba(#243f77, .7);
}

// .container {
//     width: 100%;
//     max-width: 1270px;
//     margin: 0 auto;
//     position: relative;
// }

.mini-container {
    width: 100%;
    max-width: 1070px;
    margin: 0 auto;
    position: relative;
}

.main {
    padding-top: 70px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;

    &__column {
        flex-direction: column;
    }

    &__between {
        justify-content: space-between;
    }

    &__wrap {
        flex-wrap: wrap;
    }
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.rotate {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);

    /* Firefox */
    -moz-transform: rotate(90deg);

    /* IE */
    -ms-transform: rotate(90deg);

    /* Opera */
    -o-transform: rotate(90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.shadow {
    box-shadow: 5px 5px 10px rgba(#000, .4);
}

.btn {
    padding: 5px 10px;
    margin: 5px 0;

    background: rgba(#fff, .3);
    border: 1px #000 solid;
    border-radius: 10px;

    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    transition: all .3 ease-in-out;

    &:hover {
        background: #fff;
    }
}

.txtCenter {
    text-align: center;
}

.input {
    width: 300px;
    padding: 10px;
    margin: 5px 0;

    font-size: 16px;
    border-radius: 15px;
    border: 1px #fff solid;
}

//components
.view {
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
    padding: 10px;

    background: rgba(#fff, .2);
    border-radius: 10px;
}

.words {
    width: 100%;
    margin: 50px 0;
    padding: 20px 10px;
    background: rgba(#b3c7f6, .4);
    border-radius: 10px;
}

.projects {
    width: 100%;
    margin: 10px 0;
    padding: 10px;

    background: rgba(#fff, .2);
    border-radius: 10px;
}

.info-item {
    text-align: center;
    margin: 0 10px;
    padding: 10px;

    background: rgba(#5b5b5b, .3);
    border-radius: 10px;
}

.blog {
    height: 80vh;
}