.footer {
    width: 100%;
    padding: 10px 20px;
    background: #00000055;

    &__text {
        color: #fff;
        margin: 10px 0;
        font-weight: 500;
    }

    &__img {
        margin: 5px;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
}