.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    padding: 10px 20px;
    background: #00000055;

    &__title {
        font-size: 22px;
        margin: 0 5px;
    }
}