.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: rgba(#000000, .2);
    border-radius: 15px;
    min-height: 600px;
    padding: 0 250px;

    &__info {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;

        h1 {
            font-size: 32px;
            line-height: 1;

            @media (max-width: 768px) {
                font-size: 28px;
            }
        }

        p {
            margin: 5px 0;
            font-size: 20px;

            @media (max-width: 768px) {
                font-size: 18px;
            }
        }
    }

    &__img {
        border-radius: 50%;

        @media (max-width: 768px) {
            display: none;
        }
    }

    @media (max-width: 1115px) {
        padding: 0 200px;
        min-height: 400px;
    }

    @media (max-width: 768px) {
        padding: 0 100px;
    }

    @media (max-width: 768px) {
        padding: 0 20px;
    }
}