.card {
    margin: 20px;
    padding: 10px;

    width: 400px;
    height: 340px;

    text-align: center;
    background: #0000003e;
    border-radius: 15px;

    p {
        max-width: 200px;
    }
}