.sidebar {
    padding: 10px;

    position: fixed;
    top: 65px;
    left: 50px;
    right: 50px;
    z-index: 100;

    display: flex;
    flex-direction: column;

    background: #b6e88e;
    height: 100vh;
}